body{
     background-image: url(assets/img.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     margin: 0;

     /* Optional*/
     display: flex;
     justify-content: center;
     min-height: 100vh;
     align-items: center;
}


.clock{
    color: white;
    font-size: 6em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);


}