.color-picker-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
}

.picker-container{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 5px solid gray;
    border-radius: 35px;
    margin-bottom: 25px;
    transition: 0.25s ease;

}
h1{
    margin-bottom: 10px; 
}