body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(180, 40%, 78%);
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}
.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color:hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}